/* Navigate bar*/
.header {
    padding: 20px;;
    overflow: auto;
}

h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
    background-color: #2a607c;
    padding: 20px;
    margin: auto;
}

.navbar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.navbar-item {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.container {
    background-color: darkgray;

}

* {
    background-color: blanchedalmond;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: darkgrey;
    padding: 40px;
    clear: both;
}

p {
    width: auto;
}
